@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.main-bg-linear{
  background: linear-gradient(140deg, rgba(48,45,60,1) 0%, rgb(15, 11, 23) 100%);
}
.active-menu{
  background-color: rgb(24, 24, 24);
}

/* .dropdown-content {
  display: none;
  position: absolute;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
} */
.drop{
  animation: dropper ease-in-out .2s
}
@keyframes dropper {
  0% {
    opacity: 0;
}

100% {
  opacity: 100;
}
}
@layer base {
  body{
    @apply main-bg-linear h-screen
  }
}

@layer components {
  /* GENERAL STYLING START */
  .big-btn{
    @apply  px-16 py-4 rounded-sm hover:scale-105 hover:backdrop-brightness-90 transition ease-in-out duration-300 hover:-translate-y-1
  }
  .input-basic-xl{
    @apply
    relative py-4 rounded-sm w-screen 
  }

  .logo{
    @apply w-24
  }
  /* GENERAL STYLING END */

  /* HEADER START */
  .header-container{
    @apply bg-black
  }
  .header-logo-container{
    @apply py-4 flex justify-center items-center
  }
  .menu-container{
    @apply border border-stone-900
  }
  .menu-nav{
    @apply text-white max-w-7xl mx-auto
  }
  .menu-nav-container{
    @apply flex justify-between
  }
  .nav-col-1{
    @apply flex
  }
  .nav-col-2{
    @apply flex
  }
  .menu-item-lg{
    @apply relative px-16 py-4 font-bebas text-3xl text-white flex items-center border-r border-stone-900 hover:bg-stone-900 transition-all duration-300
  }
  .dropdown{
    @apply block relative 
  }
  .dropdown-content{
    @apply absolute transition-all flex flex-col drop
  }
  .dropdown:hover .dropdown-content{
    @apply transition-all flex flex-col drop
  }

  /* HEADER END */



  /* LANDING START */

  .landing-heading{
    @apply flex justify-between items-center mx-16 pt-16
  }
  .landing-sign{
    @apply big-btn text-white font-open font-semibold text-lg 
  }
  .landing-main{
    @apply  mx-32 mt-32 flex flex-col justify-between gap-8 max-w-3xl
  }
  .landing-hero-text{
    @apply  text-8xl font-bebas text-white 
  }
  .landing-search-block{
    @apply flex 
  }
  .landing-search{
    @apply bg-success font-bebas text-3xl px-6 text-white
  }

  /* LANDING END */
  
}
