@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-secondary);
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}


@layer base {
  body{
    @apply main-bg-linear h-screen w-screen font-open 
  }
}

@layer components {
  /* GENERAL STYLING START */

  .btn{
    @apply 
    /* xl */ px-12 py-4
    /* lg */ lg-m:px-10 lg-m:py-2
    /* general */ rounded-sm text-xl font-semibold
  }
  .standard-input-field{
    @apply 
    /* xl */ pt-6 pb-2 pl-2
    /* general */ flex text-sm w-full rounded-sm appearance-none text-white focus:outline-none focus:ring-0 
  }
  .standard-input-label{
    @apply absolute text-base duration-150 transform -translate-y-0 peer-focus:-translate-y-0 scale-75 z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2  peer-focus:scale-75  left-2 top-0 peer-focus:top-0
  }
  /* GENERAL STYLING END */





  /* CUSTOM STYLING START */
  .main-bg-linear{
    background: linear-gradient(140deg, rgba(48,45,60,1) 0%, rgb(15, 11, 23) 100%);
  }
  .active-menu{
    background-color: var(--bg-menu-secondary)
  }
  /* CUSTOM STYLING END */
}
