@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg-linear{
  background: linear-gradient(140deg, rgba(48,45,60,1) 0%, rgb(15, 11, 23) 100%);
}
.active-menu{
  background-color: var(--bg-menu-secondary)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drop{
  animation: dropper ease-in-out 150ms
}
@keyframes dropper {
  0% {
    opacity: 0;
}
  100% {
    opacity: 100;
  }
}

.loginDrop{
  animation: loginDrop ease-in-out 150ms
}
@keyframes loginDrop {
  from {
    opacity: 0%;
    height: 0rem
}
  70% {
  opacity: 0%;
}
  to {
    opacity: 100%;
    height: 20rem;
  }
}




@layer base {
  body{
    @apply main-bg-linear h-screen font-open 
  }
}

@layer components {
  /* GENERAL STYLING START */
  .big-btn{
    @apply  px-16 py-4 rounded-sm hover:scale-105 hover:backdrop-brightness-90 transition ease-in-out duration-300 hover:-translate-y-1
  }
  .btn-m{
    @apply px-16 py-4 rounded-sm text-xl font-semibold
  }
 
  .input-basic-xl{
    @apply
    relative py-4 rounded-sm w-screen 
  }


  .standard-input-field{
    @apply flex pt-8 pb-4 pl-4 w-full rounded-l-lg appearance-none text-white focus:outline-none focus:ring-0 
  }
  .standard-input-label{
    @apply absolute text-base duration-150 transform -translate-y-0 peer-focus:-translate-y-0 scale-75  z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2  peer-focus:scale-75  left-4 top-2 peer-focus:top-2
  }






  .logo{
    @apply w-24 
  }
  /* GENERAL STYLING END */

  /* HEADER START */
  .header-container{
    @apply bg-menuPrimary
  }
  .header-logo-container{
    @apply py-4 flex justify-center items-center max-w-7xl mx-auto
  }
  .menu-container{
    @apply border border-borderColor border-l-0 border-r-0
  }
  .menu-nav{
    @apply text-white max-w-7xl mx-auto
  }
  .menu-nav-container{
    @apply flex justify-between
  }
  .nav-col-1{
    @apply flex
  }
  .nav-col-2{
    @apply flex
  }
  .menu-item-lg{
    @apply  relative px-8 sm:px-16 py-4 font-bebas text-3xl text-white flex items-center border-r border-borderColor hover:bg-menuSecondary
  }
  .extra-border{
    @apply border-l border-l-borderColor
  }
  .menu-account-container{
    @apply block relative 
  }

  .menu-account-content{
    @apply absolute transition-all flex flex-col items-start drop bg-menuPrimary border border-b-0 border-borderColor gap-0.5 w-full
  }
  .menu-account-item{
    @apply  bg-menuPrimary hover:bg-menuSecondary border-t border-t-borderColor py-6 px-4 flex w-full cursor-pointer
  }
  .dropdown:hover .dropdown-content{
    @apply transition-all flex flex-col drop
  }
  .newbox{
    @apply  flex flex-col loginDrop h-80 w-full
  }

  /* HEADER END */



  /* LANDING START */

  .landing-heading{
    @apply flex justify-between items-center mx-16 pt-16
  }
  .landing-sign{
    @apply big-btn text-white font-open font-semibold text-lg 
  }
  .landing-main{
    @apply  mx-32 mt-32 flex flex-col justify-between gap-8 max-w-3xl
  }
  .landing-hero-text{
    @apply  text-8xl font-bebas text-white 
  }
  .landing-search-block{
    @apply flex 
  }
  .landing-search{
    @apply bg-success font-bebas text-3xl px-6 text-white flex-1 flex flex-col flex-grow
  }

  /* LANDING END */
  
}
