@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

:root{
    --primary: #0F0D15;
    --secondary: rgb(11, 99, 150);
    --borderColor: rgb(0, 0, 0);
    --input: #000000c1;
    --monestral: #100E17;
    
    --success-500: #1cb091;
    --success-600: #138e76;
    --success-700: #157866;
    --warning: #B78F00;
    --danger: #a7505b;

    --black: #0e0e0e;
    --white: #ffffff;
    --gray: #606060;
    
    --text-primary: rgb(0, 0, 0);
    --text-secondary: rgb(255, 255, 255);
    --bg-menu-secondary: #0f0f0f;
    --bg-menu-primary: #000000;
    
    --ff-bebas: 'Bebas Neue', sans-serif;
    --ff-open : 'Open Sans', sans-serif;
  }
  /* 
  heading-3xl bebas
  heading-2xl

  base-l-bold
  base-m-reg
  base-m-bold

  
  
  
  */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
