@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

:root{
    --primary: #0F0D15;
    --secondary: rgb(11, 99, 150);
    --borderColor: rgb(28, 28, 28);
    --inputDark: #171717;



    --success: #157866;
    --warning: #b2bd1a;
    --danger: #a7505b;

    --black: #0e0e0e;
    --white: #ffffff;
    --gray: #606060;
    

    --bg-menu-primary: #0c0c0c;
    --bg-menu-secondary: #000000;
    
    --ff-bebas: 'Bebas Neue', sans-serif;
    --ff-open : 'Open Sans', sans-serif;
  }

  
:root.dark-theme{
  --primary: #a8a8a8;
  --secondary: rgb(179, 227, 255);
  --borderColor: rgb(227, 227, 227);
  --inputDark: #171717;

  --success: #157866;
  --warning: #b2bd1a;
  --danger: #a7505b;

  --black: #0e0e0e;
  --white: #000000;
  --gray: #606060;
  
  --bg-menu-primary: #f7f7f7;
  --bg-menu-secondary: #efefef;
  --ff-bebas: 'Bebas Neue', sans-serif;
  --ff-open : 'Open Sans', sans-serif;
}